//Animations//
.boat {
  -webkit-animation: rock-boat 1s ease-in-out;
  -webkit-animation-iteration-count: infinite;
}
.boat::after {
  -webkit-animation: steam 1s 1s infinite;
}

body {
  -webkit-animation: bg-move 8s ease-out;
  -webkit-animation-fill-mode: forwards;
  // -webkit-animation-play-state: paused;
 }
 .mike {
   -webkit-animation: mike-move 6s 6s ease-out forwards,
                      mike-float 3.2s infinite;
 }

//Keyframes//
@-webkit-keyframes rock-boat {
  50% {-webkit-transform: rotate(-15deg) translateY(-15px);}
}

@-webkit-keyframes steam {
  0% {opacity: 0;}
  40%,
  60% {opacity: 1;}
  100% {-webkit-transform: translate(-55%, -45%) rotateZ(20deg);}
}

@-webkit-keyframes bg-move {
  0% {background-position: 100% -560px;}
  100% {background-position: -350% -460px;}
}

@-webkit-keyframes mike-move {
  100% {left: 12%; }
}
@-webkit-keyframes mike-float {
    50% {-webkit-transform: rotateZ(5deg) translateY(-5px); }
}
